* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* utilities */

.flex {
    display: flex;
}

.center {
    text-align: center;
}

.green {
    color: green;
}


/* content */

/* header */
header {
    height: 9vh;
    background-color: #000000;
}

.button {
    justify-content: flex-end;
}

.button>* {
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px 3px;
    background-color: #4a4a4a;
    color: white;
    border-radius: 3px;
    font-size: 14px;
}

/* main */
main {
    height: 82vh;
    background-color: #000000;
    overflow-y: auto;
}

.container {
    margin: 0 auto;
    width: 150vh;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 98%;
}


.card {
    width: calc(100% / 7 - 4px);
    margin: 2px;
    position: relative;
}

img {
    width: 100%;
}


.name {
    color: white;
    position: absolute;
    bottom: 13px;
    background-color: #4a4a4a;
    font-size: 14px;
    opacity: 0.5;
}





/* footer */
footer {
    height: 9vh;
    background-color: #222;
}

.user-interface {
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.mic-video>*,
.other-things>* {
    margin: 0 5px 0 5px;
    font-size: 24px;
}

.end-meeting {
    background-color: #4a4a4a;
    padding: 29px;
    font-size: 10px;
    color: red;
    height: 100%;
}

.text {
    font-size: 12px;
    font-weight: 100;
}